//
// section-header
//
.section-header {
	min-height: 200px;
	text-align: center;
}
.section-header h1 {
	font-size: 5rem;	
	text-align: center;
	padding-top: 50px;
}
.section-header .h2-outer {
	padding-bottom: 40px;
}