.site-products {
	padding: 30px 0;
	text-align: center;
}
.site-products h3 {
	color: #fff;
}
.site-products ul {
    list-style-type: none;
    padding-left: 0px;
}
.site-products ul li {
    padding: 7px 0;
}
.site-products  a {
	color: #c00;
}
.site-products .modal-body {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #111);
	background: -o-radial-gradient(circle, #333, #111);
	background: -moz-radial-gradient(circle, #333, #111);
	background: radial-gradient(circle, #333, #111);
}
.site-products .modal-body h3 {
	color: #fff;
	fong-size: 700;
	background: #777;
	padding: 10px;
}
.site-products .modal-body a {
	color: #fff;
}
@media (max-width: 991px) {
	.site-products .breadcrumb  {
		display: block;
	}
}